/* Enlève les defaults styles du navigateur */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}

main {
    height: 90vh;
    width: auto;
    margin: 2% 0;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: red;
}

#container {
    width: auto;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
/* background-color: hsl(240, 96%, 57%);
background-image: url('../images/banane_chase.jpg');
background-repeat: no-repeat;
background-size: contain;
background-position: center; */
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    background-color: hsla(227, 72%, 72%, 0.7);
}

ul li div {
    margin-bottom: 16px;
}

/* Button commencer le quiz */
.start_game,
.start_game2,
.start_game3 {
    border: none;
    font-size: 1rem;
    border-radius: 12px;
    padding: 3px 10px 2px;
    background: hsl(16, 100%, 50%);
}

.start_game:hover,
.start_game2:hover,
.start_game3:hover,
.btnstyle:hover,
#SUBMIT:hover {
    outline-offset: 8px;
    outline: 6px hsl(216, 83%, 84%);
    outline-style: solid;
    box-shadow: 0 0 12px hsl(0, 0%, 2%);
    font-weight: 700;
}

/* Les Boutons qui affichent la prochaine question */
.btnstyle {
    font-size: 1.2rem;
}

/* Typographie */
h1,
h2,
h3,
label,
input,
button {
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 100%);
}


/* Les titres */
h1,
h2,
.btnstyle {
    margin: 10px 0 28px;
    padding: 4px 12px;
    text-align: center;
    background-color: hsl(16, 100%, 50%);
    text-shadow: 0.5 0.5 5px hsl(0, 0%, 0%);
}

h2 {
    margin-left: 5%;
    margin-right: 5%;
}

/* Les titre des questions */
#first_li h3,
#second_li h3,
#third_li h3,
#fourth_li h3,
#fifth_li h3,
#sixth_li h3,
#seventh_li h3,
#eighth_li h3,
#nineth_li h3,
#tenth_li h3,
#eleventh_li h3,
#twelfth_li h3,
#thirteenth_li h3,
#fourteenth_li h3,
#fifteenth_li h3 {
    font-weight: 100;
    margin: 10px 0 14px;
    color: hsl(120, 100%, 50%);
    text-shadow: .5px .5px 1px hsl(0, 0%, 0%);
}

/* Centrer les li's */
#first_li,
#second_li,
#third_li,
#fourth_li,
#fifth_li,
#sixth_li,
#seventh_li,
#eighth_li,
#nineth_li,
#tenth_li,
#eleventh_li,
#twelfth_li,
#thirteenth_li,
#fourteenth_li,
#fifteenth_li {
    text-align: center;
}

span {
    color: hsl(120, 100%, 50%);
    font-weight: 700;
}

/* Les reponses */
label {
    margin-bottom: 16px;
}

#quiz label:hover {
    color: hsl(120, 100%, 50%);
}

/* Les li 's avec les réponses */
#urli {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Bouton confirmer les réponses */
#SUBMIT {
    font-size: 1rem;
    width: 65%;
    padding: 0px 10px;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(16, 100%, 50%);
}

/* Sur la page result.php  */
.container_result {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* text-align: justify; */
}

#results {
    text-align: center;
    margin: 10px 0;
}

.next_one {
    margin-bottom: 20px;
    padding: 2px 12px;
    text-decoration: none;
}

.next_one h3 {
    margin-bottom: 0;
}

a {
    text-align: center;
}

.next_one:hover {
    font-weight: 700;
    outline: 6px hsl(216, 83%, 84%);
    outline-offset: 8px;
    outline-style: solid;
    box-shadow: 0 0 12px hsl(0, 0%, 2%);

    background-color: orangered;
}

div#results {
    padding: 4px 12px;
    background-color: none;
}

/* Responsive */

@media screen and (max-width: 223px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    #start_game:hover,
    #start_game2:hover,
    #start_game3:hover {
        outline: none;
        box-shadow: none;
    }
}