h2 {
  margin-bottom: 5px;
}
h4 {
  margin-top: 0;
}

.error-message {
  padding: 20px 30px;
  background-color: rgba(255, 0, 0, 0.3);
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  border:solid 2px rgba(150, 0, 0, 1);
  border-radius: 10px;
}
.deconnexion {
  padding:5px;
  border:solid 1px black;
  border-radius:5px;
  background-color:black;
  color:white;
  position:absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
}
.deconnexion:hover {
  background-color: rgba(150, 0, 0, 1);
}


                    /*       carte joueur        */
#cartejoueur {
  display: block;
  text-align: center;
  padding: 0px 10px 50px;
  margin: 50px auto 0;
  width: 30%;
  border-radius:10px;
}
.attributs{
  display: flex;
}
.attributs p, .attributs h4 {
  margin: 0;
}
.force {
  width: 50%;
  text-align: end;
  padding-right:10px;
  border-right:solid 1px black;
}
.resistance {
  width: 50%;
  text-align: left;
  padding-left:10px;
  border-left:solid 1px black;
}
.chiffre {
  font-size: 50px;
}
                    /*       carte ennemis        */

.ennemis {
  display: grid;
  grid-template-columns: 250px repeat(auto-fill, 250px) 250px;
  grid-auto-rows: 280px;
  justify-content: center;
  justify-items: center;
  padding-bottom: 10%;
  padding-top: 50px;
  cursor: ;
}
.carteennemi {
  display: block;
  text-align: center;
  padding: 0px 10px 50px;
  border-radius:10px;
  width: 200px;
  height: 200px;
  cursor: url(epee.svg),pointer;
  transition:transform 0.5s;
}
.carteennemi:hover {
  transform:scale(1.05);
  transition:transform 0.5s;
}

.Mage {
  background-color: violet;
  border: solid 2px purple;
}
.Brute {
  background-color: #fe9898;
  border: solid 2px #ff2e2e;
}
.Archer {
  background-color: #9bfe98;
  border: solid 2px #0e700a;
}
.Sabreur {
  background-color: #98a3fe;
  border: solid 2px #0a2370;
}
