body {
    background-color: Black;
}

.parent1,.parent2,.parent3
,.parent4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }
    
    .question { grid-area: 1 / 1 / 2 / 3; }
    .submit1 { grid-area: 2 / 1 / 3 / 2; }
    .submit2 { grid-area: 2 / 2 / 3 / 3; }
    .submit3 { grid-area: 3 / 2 / 4 / 3; }
    .submit4 { grid-area: 3 / 1 / 4 / 2; }

    .parent2,.parent3,.parent4 {
        display : none;
    }


    input[type="checkbox"]{
        display: none;     
    }

    label {
        display: flex;
        white-space: normal;
        font-size: 25px;
        border-radius: 25px;
        font-weight: bold;
        background-color:#8B80B6;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
        justify-content: center;
        text-justify: center;
        text-align: center;
        justify-self: center;
        align-self: center;
        align-items: center;
        align-content: center;
        height: 80%;
        width: 80%;
        white-space: normal
    }

    label:hover {
        background-color:black;
        color: #8B80B6;
        border: 2px solid #8B80B6;
        transition: 0.3s;
    }


    .question {
    display: flex;
    flex-direction: column;
    white-space: normal;
    font-size: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 25px;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    color: #8B80B6;
    border: #8B80B6 solid 2px;
    width: 90%;
    justify-self: center;
    }

    .P_Q{
        display: flex;
        margin: 0 0 0 0;
        font-size: 20px;
        color: orange;
        border: solid 1px #8B80B6;
        border-radius: 5px;
    }

@media (min-width: 768px) {
    .question {
        height: 300px;
        margin-bottom: 0 0 0 0;
    }
}

@media (max-width: 768px) {
    .question {
        height: 300px;
    }
}

.next {
    display: none;
    border-radius: 5px;
    padding: 30px 30px 30px 30px;
    background-color: #8B80B6;
    font-size: 20px;
}

.box_next {
    margin-top: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}